@{
    ViewData["Title"] = "Nba Stats Page";
}


<div class="text-center">
    <h1 class="display-4">This is the Nba stats page where we'll put html forms to create queries to the nba db</h1>
</div>
@using System
@using nbaMVC.Models
@model queryDetails
@using (Html.BeginForm("createQuery", "Home")){
    <form>
        <ol>
            <li>
                @Html.Label("First Name")
                @Html.TextBox("first")
            </li>
            <li>
                @Html.Label("Last Name")
                @Html.TextBox("last")
            </li>
        </ol>
        @{
            List<SelectListItem> seasons = new List<SelectListItem>();
            seasons.Add(new SelectListItem
            {   
                Text = "All",
                Value = "All",
                Selected = true
            });
            for (int i=1980; i<2020; i++){
                string text = "{0}-{1}";
                text = string.Format(text, i, i+1);
                seasons.Add(new SelectListItem
                {
                    Text = text,
                    Value = text,
                    Selected = false

                });
            }
            
        }
        Season <br>
        @Html.DropDownListFor(m => m.season, seasons)

        <br>
        Catagories
        <br>
        
        <input type="submit" value="Run Query" />

    </form>
}